<!DOCTYPE html>

<head>
    <title>Login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/styles.css">


 </head>

<body>

<div class="container">

    <div class="login-form">
        <h2>Login</h2>
        <form id="UserLogin" method="post" action="/login">
            <input type="text" name="username" placeholder="username" id="username" required>
            <input type="password" name="password" placeholder="password" id="password" required>
            <button type="submit">Login</button>
        </form>

        <p> Don't Have an account?
            <a href="registration.html"> Register here </a></p>

    </div>
</div>
</body>
</html>